* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, "system-ui", "Segoe UI Adjusted", "Segoe UI", "Liberation Sans", sans-serif;
  font-size: 13px; 
  line-height: 17px;
  font-weight: 400;
  color: #232629;
}

body {
  display: flex;
  flex-direction: column;
  min-width: auto;
  padding-top: 50px;
}

a {
  color: #0A95FF;
  text-decoration: none;
}

.ai-center {
  align-items: center;
}

.jc-space-between {
  justify-content: space-between;
}