.signupInfoWrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 48 0 0;
  position: absolute;
  width: 502px;
  height: 297px;
  left: 361px;
  top: 351px;
}

.signupInfoItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 0px 24px;
  gap: 8px;
  height: 50px;
}

h1 {
  flex: none;
  order: 0;
  flex-grow: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 33px;
}

.signupIcon {
  flex: none;
  order: 0;
  flex-grow: 0;
}

span {
  flex: none;
  order: 1;
  flex-grow: 0;

  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}
